@if (estaAgregandoTareaNueva) {
  <app-nueva-tarea [idUsuario]="idUsuario" (cerrar)="alCerrarTareaNueva()" />
}

<section id="tareas">
  <header>
    <h2>Tareas de {{ nombre }}</h2>
    <menu>
      <button (click)="alIniciarNuevaTarea()">Agregar Tarea Nueva</button>
    </menu>
  </header>

  <ul>
    <!-- Usamos $any($event) para evitar el error de tipado -->
    @for (tarea of (tareasUsuarioSeleccionado | async); track tarea.id) {
      <li>
        <app-tarea [tarea]="tarea" (completar)="alCompletarTarea($any($event))" />
      </li>
    } @empty {
      <p style="color: #cbd5e1; padding: 1rem;">No hay tareas para este usuario en MySQL.</p>
    }
  </ul>
</section>
