<app-tarjeta [class.completada]="tarea.completada == 1">
  <article>
    <h2 [style.text-decoration]="tarea.completada == 1 ? 'line-through' : 'none'">
      {{ tarea.titulo }}
    </h2>
    <time>{{ tarea.expira | date: 'fullDate' }}</time>
    <p>{{ tarea.resumen }}</p>

    @if (authService.isLoggedIn$ | async) {
      <p class="acciones">
        @if (tarea.completada == 0) {
          <button (click)="onCompletar()">Terminada</button>
        } @else {
          <button class="btn-reabrir" (click)="onReabrir()">Reabrir</button>
        }

        <button class="btn-editar" (click)="onEditar()">Editar</button>
        <button class="btn-borrar" (click)="onEliminar()">Eliminar</button>
      </p>
    }
  </article>
</app-tarjeta>
